body {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header img {
  margin-top: 20px;
}

.accueil {
  margin-top: 20px;
  padding-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 45px;
  background-color: #f6f6f6;
}

.accueil .search {
  background-color: #eaeaea;
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.accueil .search i,
.accueil .search .ville {
  margin: 20px;
  font-weight: bold;
}

.accueil h1,
.accueil .pub {
  text-align: center;
  width: 76%;
  margin: 25px;
}

.accueil button {
  border-radius: 60px;
  border: 0.125rem;
  padding: 30px;
  margin-top: 20px;
  width: 60%;
  font-size: 45px;
  color: white;
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonctionnement h2 {
  margin: 20px;
  font-size: 67.5px;
}

.fonctionnement li {
  font-size: 35px;
  padding: 40px;
  text-align: center;
  -webkit-box-shadow: 0 0 20px #0000002e;
          box-shadow: 0 0 20px #0000002e;
  border-radius: 30px;
}

.fonctionnement ol {
  list-style: none;
  margin-right: 20px;
}

.fonctionnement ol li {
  margin: 0 0 0.5rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
}

.fonctionnement ol li::before {
  content: counter(my-awesome-counter);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  --size: 42px;
  left: calc(-1 * var(--size) - -20px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  background: #9356DC;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 0 #999;
          box-shadow: 1px 1px 0 #999;
}

.restaurant_accueil {
  background-color: #eaeaea;
  font-size: 45px;
  padding: 20px;
}

.restaurant_accueil article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  margin: 20px;
  border-radius: 50px;
}

.restaurant_accueil img {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant_accueil .badge {
  background-color: #99e2d0;
  color: #269e80;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  width: 20%;
  position: absolute;
  right: 60px;
}

.restaurant_accueil .vignet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.restaurant_accueil .desc_article {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

.restaurant_accueil .desc_article p,
.restaurant_accueil .desc_article h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.restaurant {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant .header_restaurant {
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  background-color: #f6f6f6;
  position: relative;
  bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 50px;
}

.restaurant img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carte {
  font-size: 30px;
  padding: 10px;
  margin: 20px;
}

.carte article {
  background-color: white;
  border-radius: 50px;
}

.carte .price {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 50px;
}

.carte button {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  border-radius: 60px;
  border: 0.125rem;
  padding: 30px;
  width: 60%;
  font-size: 45px;
  color: white;
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
}

footer {
  background-color: #353535;
  color: white;
  font-size: 20px;
}

footer img {
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

footer ul {
  list-style-type: none;
  margin-bottom: 0px;
}

footer li {
  margin: 5px;
}

footer a {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */