@import "sass/Utils/variables";
@import "sass/Utils/mixins";
// général
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    animation: body 2.5s ease-in-out;
}

@keyframes body {
    0% {
        opacity: 0.1;
        background-color: black;
    }
    100% {
        opacity: 1;
    }
}

.loader {
    border: 10px solid $colour-primaire;
    border-top: 10px solid $colour-secondaire;
    border-bottom: 10px solid $colour-tertiaire;
    border-left: 10px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 3s ease-in-out;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        z-index: 10000;
    }
    100% {
        transform: rotate(360deg);
        z-index: 10000;
    }
}

// header
header {
    display: flex;
    justify-content: center;
    i {
        font-size: 50px;
        position: absolute;
        --size: -26px;
        left: calc(-1 * var(--size) - -20px);
        line-height: var(--size);
        width: var(--size);
        height: var(--size);
        top: 25px;
        color: $colour-footer;
    }
    img {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

// index
.accueil {
    margin-top: 20px;
    padding-bottom: 140px;
    @include flex_column;
    align-items: center;
    font-size: 43px;
    background-color: $colour-gris_clair;
    .badge {
        padding: 15px;
    }
    .search {
        background-color: $colour-gris_sombre;
        font-size: 35px;
        display: flex;
        justify-content: center;
        width: 100%;
        color: #3a3a3a;
        -webkit-box-shadow: inset 0px 23px 36px -28px rgba(58, 58, 58, 1);
        -moz-box-shadow: inset 0px 23px 36px -28px rgba(58, 58, 58, 1);
        box-shadow: inset 0px 23px 36px -28px rgba(58, 58, 58, 1);
        i,
        .ville {
            margin: 20px;
            font-weight: bold;
        }
    }
    h1,
    .pub {
        text-align: center;
        width: 76%;
    }
    button {
        border-radius: 60px;
        border: 0.125rem;
        padding: 30px;
        margin-top: 20px;
        width: 60%;
        font-size: 45px;
        color: white;
        background: linear-gradient(-10deg, $colour-primaire, $colour-secondaire);
        box-shadow: 0 0 20px #0000002e;
        transition: 0.3s;
    }
    button:hover {
        box-shadow: 20px 20px 40px #0000002e;
        filter: brightness(1.1);
        cursor: pointer;
    }
}

.fonctionnement {
    @include flex_column;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 20px;
    .fas.fa-mobile-alt {
        right: 50px;
    }
    h2 {
        margin: 20px;
        font-size: 67.5px;
    }
    .color:hover {
        background-color: #f2eafb;
        i {
            color: #9356DC;
        }
    }
    li {
        font-size: 40px;
        padding: 40px;
        text-align: center;
        box-shadow: 0 0 20px #0000002e;
        border-radius: 30px;
        i {
            color: grey;
            position: relative;
            right: 70px;
            font-size: 60px;
        }
    }
    ol {
        list-style: none;
        margin: 10px;
        padding: 0px;
    }
    ol li {
        margin: 50px;
        counter-increment: ohmyfood-counter;
        position: relative;
        background-color: $colour-gris_clair;
    }
    ol li::before {
        content: counter(ohmyfood-counter);
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        position: absolute;
        --size: 70px;
        left: calc(-1 * var(--size) - -20px);
        line-height: var(--size);
        width: var(--size);
        height: var(--size);
        background: $colour-primaire;
        border-radius: 50%;
        box-shadow: 1px 1px 0 #999;
        margin-left: 1px;
    }
}

.restaurant_accueil {
    background-color: $colour-gris_sombre;
    font-size: 45px;
    padding: 20px;
    article {
        @include flex_column;
        background-color: white;
        margin-bottom: 50px;
        border-radius: 50px;
        box-shadow: 4px 4px 4px lightgrey;
    }
    img {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    .badge {
        background-color: $colour-background-nouveau;
        color: $colour-nouveau;
        font-weight: bold;
        padding: 10px;
        border-radius: 5px;
        width: 20%;
        position: absolute;
        right: 60px;
        margin-top: 30px;
    }
    .vignet {
        @include flex_around;
        margin-bottom: 25px;
    }
    .desc_article {
        flex-direction: column;
        width: 60%;
        p,
        h3 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .icon_article {
        position: relative;
        width: 32px;
        height: 32px;
        background-color: #9356DC;
        background-image: linear-gradient(#FF79DA, #9356DC);
        cursor: pointer;
        margin-top: 3px;
    }
    .icon_article i {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 32px;
        transition: opacity 0.2s ease-in-out;
        color: #7E7E7E;
        background-color: white;
    }
    .icon_article:hover i {
        opacity: 0;
    }
    .icon_article:hover .fas.fa-heart {
        opacity: 1;
    }
    .icon_article .fas.fa-heart {
        opacity: 1;
        background-color: white;
        mix-blend-mode: lighten;
    }
}

// menu_restaurant
.header_restaurant {
    h2 {
        font-family: 'Shrikhand', 'Roboto', sans-serif;
    }
}

.restaurant {
    background-color: $colour-gris_clair;
    @include flex_column;
    .header_restaurant {
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
        background-color: $colour-gris_clair;
        position: relative;
        bottom: 75px;
        display: flex;
        align-items: center;
        font-size: 50px;
        h2 {
            margin-left: 40px;
        }
        i {
            font-size: 32px;
            transition: opacity 0.2s ease-in-out;
            width: 32px;
            height: 32px;
            cursor: pointer;
            margin-top: 3px;
            position: absolute;
            right: 150px;
        }
        .fas.fa-heart {
            opacity: 0;
        }
        .fas.fa-heart:hover {
            opacity: 1;
        }
        i:hover {
            color: #9356DC;
        }
    }
    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}

.carte {
    font-size: 30px;
    padding: 10px;
    margin: 20px;
    margin-top: 0;
    h3 {
        border-bottom: 4px solid $colour-tertiaire;
        width: 10%;
        margin-bottom: 50px;
    }
    .menu {
        margin-bottom: 20px;
        margin-top: 20px;
        overflow-x: hidden;
        box-sizing: border-box;
        display: flex;
        animation: apparationmenu 1s;
        @include border_leftR;
        @include border_rightR;
        cursor: pointer;
        &:hover {
            .menu-content {
                flex: 0 0 75%;
                width: 75%;
            }
            i {
                transform: rotate(360deg)
            }
            .menu_price {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
        }
    }
    .menu-content {
        flex: 0 0 90%;
        background: #fff;
        @include border_leftR;
        padding: 1%;
        transition: 0.6s;
        h4,
        p {
            margin: 10px;
            font-size: 26px;
        }
    }
    .menu_price {
        display: flex;
        flex: 0 0 10%;
        align-items: center;
        background: #fff;
        font-size: 30px;
        font-weight: bolder;
    }
    .menu-badge {
        flex: 0 0 15%;
        background: $colour-background-nouveau;
        @include border_rightR;
        overflow: hidden;
        transition: 0.6s;
        display: flex;
        justify-content: center;
        i {
            color: white;
            display: flex;
            align-items: center;
            transform: rotate(0);
            transition: transform 0.5s ease-in-out 0.1s;
            font-size: 30px;
        }
    }
    @keyframes apparationmenu {
        from {
            transform: translateY(50px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    button {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        margin-top: 100px;
        border-radius: 60px;
        border: 0.125rem;
        padding: 30px;
        width: 60%;
        font-size: 45px;
        color: white;
        background: linear-gradient(-10deg, $colour-primaire, $colour-secondaire);
        box-shadow: 0 0 20px #0000002e;
        transition: 0.3s;
    }
    button:hover {
        box-shadow: 20px 20px 40px #0000002e;
        filter: brightness(1.1);
        cursor: pointer;
    }
}

// footer
footer {
    background-color: $colour-footer;
    color: white;
    font-size: 30px;
    padding: 30px;
    img {
        height: 30px;
        object-fit: cover;
        margin-top: 40px;
        margin-left: 40px;
        filter: invert(100%);
    }
    ul {
        list-style-type: none;
        margin-bottom: 0px;
        padding: 0px;
        margin-left: 40px;
        i {
            margin-right: 12px;
        }
    }
    li {
        margin-top: 15px;
    }
    a {
        color: white;
        text-decoration: none;
    }
}

@media only screen and ( min-width: 1200px) {
    body {
        margin: auto;
        .loader {
            bottom: 300px;
        }
        .search {
            font-size: 22px;
            .ville {
                font-size: initial;
            }
        }
        .accueil {
            font-size: initial;
            padding-bottom: 50px;
            .search i {
                font-size: initial
            }
            button {
                font-size: initial;
                width: auto;
                padding: 15px;
            }
        }
        .fonctionnement {
            margin: initial;
            align-items: center;
            li {
                cursor: pointer;
            }
            h2 {
                font-size: initial;
            }
            ol {
                width: 50%;
            }
            ol li {
                font-size: initial;
                margin: 30px;
                padding: 25px;
            }
            ol li::before {
                --size: 25px;
                display: flex;
                flex-direction: column;
                font-size: initial;
            }
            li i {
                font-size: 22px;
            }
            .fas.fa-mobile-alt {
                right: 60px;
            }
        }
    }
    .restaurant_accueil {
        .article_restaurant {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        h2 {
            font-size: initial;
            text-align: center;
        }
        h3 {
            font-size: initial;
        }
        p {
            font-size: initial;
        }
        .badge {
            display: none;
        }
        img {
            width: 350px;
            height: 150px;
        }
    }
    .restaurant .header_restaurant h2 {
        margin-left: 200px;
        font-size: 35px;
    }
    .carte {
        font-size: initial;
        .carte_menu {
            display: flex;
        }
        h3 {
            font-size: initial;
        }
        button {
            font-size: initial;
            width: 20%;
            padding: 15px;
        }
    }
}

footer {
    font-size: initial;
    text-align: center;
}