@import "sass/Utils/variables";
@import "sass/Utils/mixins";
// général
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    animation: body 3s;
}

@keyframes body {
    from {
        transform: translateY(0);
        opacity: 0.2;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.loader_food {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
}

.loader_food div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    animation: loader_food 1.2s cubic-bezier(0, 0.5, 0.5, 1) 3;
}

.loader_food div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
    background-color: $colour-primaire;
}

.loader_food div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
    background-color: $colour-secondaire;
}

.loader_food div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
    background-color: $colour-tertiaire;
}

@keyframes loader_food {
    0% {
        top: 8px;
        height: 64px;
    }
    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

// header
header {
    display: flex;
    justify-content: center;
    i {
        font-size: 50px;
        position: absolute;
        --size: -26px;
        left: calc(-1 * var(--size) - -20px);
        line-height: var(--size);
        width: var(--size);
        height: var(--size);
        top: 25px;
        color: $colour-footer;
    }
    img {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

// index
.accueil {
    margin-top: 20px;
    padding-bottom: 140px;
    @include flex_column;
    align-items: center;
    font-size: 43px;
    background-color: $colour-gris_clair;
    .badge {
        padding: 15px;
    }
    .search {
        background-color: $colour-gris_sombre;
        font-size: 35px;
        display: flex;
        justify-content: center;
        width: 100%;
        color: #3a3a3a;
        -webkit-box-shadow: inset 0px 23px 36px -28px rgba(58, 58, 58, 1);
        -moz-box-shadow: inset 0px 23px 36px -28px rgba(58, 58, 58, 1);
        box-shadow: inset 0px 23px 36px -28px rgba(58, 58, 58, 1);
        i,
        .ville {
            margin: 20px;
            font-weight: bold;
        }
    }
    h1,
    .pub {
        text-align: center;
        width: 76%;
    }
    button {
        border-radius: 60px;
        border: 0.125rem;
        padding: 30px;
        margin-top: 20px;
        width: 60%;
        font-size: 45px;
        color: white;
        background: linear-gradient(-10deg, $colour-primaire, $colour-secondaire);
        box-shadow: 0 0 20px #0000002e;
        transition: 0.3s;
    }
    button:hover {
        box-shadow: 20px 20px 40px #0000002e;
        filter: brightness(1.1);
        cursor: pointer;
    }
}

.fonctionnement {
    @include flex_column;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 20px;
    .fas.fa-mobile-alt {
        right: 50px;
    }
    h2 {
        margin: 20px;
        font-size: 67.5px;
    }
    .color:hover {
        background-color: #f2eafb;
        i {
            color: #9356DC;
        }
    }
    li {
        font-size: 40px;
        padding: 40px;
        text-align: center;
        box-shadow: 0 0 20px #0000002e;
        border-radius: 30px;
        i {
            color: grey;
            position: relative;
            right: 70px;
            font-size: 60px;
        }
    }
    ol {
        list-style: none;
        margin: 10px;
        padding: 0px;
    }
    ol li {
        margin: 50px;
        counter-increment: ohmyfood-counter;
        position: relative;
        background-color: $colour-gris_clair;
    }
    ol li::before {
        content: counter(ohmyfood-counter);
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        position: absolute;
        --size: 70px;
        left: calc(-1 * var(--size) - -20px);
        line-height: var(--size);
        width: var(--size);
        height: var(--size);
        background: $colour-primaire;
        border-radius: 50%;
        box-shadow: 1px 1px 0 #999;
        margin-left: 1px;
    }
}

.restaurant_accueil {
    background-color: $colour-gris_sombre;
    font-size: 45px;
    padding: 20px;
    article {
        @include flex_column;
        background-color: white;
        margin-bottom: 50px;
        border-radius: 50px;
        box-shadow: 4px 4px 4px lightgrey;
    }
    img {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    .badge {
        background-color: $colour-background-nouveau;
        color: $colour-nouveau;
        font-weight: bold;
        padding: 10px;
        border-radius: 5px;
        width: 20%;
        position: absolute;
        right: 60px;
        margin-top: 30px;
    }
    .vignet {
        @include flex_around;
        margin-bottom: 25px;
    }
    .desc_article {
        flex-direction: column;
        width: 60%;
        p,
        h3 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .icon_article {
        position: relative;
        width: 32px;
        height: 32px;
        background-color: #9356DC;
        background-image: linear-gradient(#FF79DA, #9356DC);
        cursor: pointer;
        margin-top: 3px;
    }
    .icon_article i {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 32px;
        transition: opacity 0.2s ease-in-out;
        color: #7E7E7E;
        background-color: white;
    }
    .icon_article:hover i {
        opacity: 0;
    }
    .icon_article:hover .fas.fa-heart {
        opacity: 1;
    }
    .icon_article .fas.fa-heart {
        opacity: 1;
        background-color: white;
        mix-blend-mode: lighten;
    }
}

// menu_restaurant
.header_restaurant {
    h2 {
        font-family: 'Shrikhand', 'Roboto', sans-serif;
    }
}

.restaurant {
    background-color: $colour-gris_clair;
    @include flex_column;
    .header_restaurant {
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
        background-color: $colour-gris_clair;
        position: relative;
        bottom: 75px;
        display: flex;
        align-items: center;
        font-size: 50px;
        h2 {
            margin-left: 40px;
        }
        i {
            font-size: 32px;
            transition: opacity 0.2s ease-in-out;
            width: 32px;
            height: 32px;
            cursor: pointer;
            margin-top: 3px;
            position: absolute;
            right: 150px;
        }
        .fas.fa-heart {
            opacity: 0;
        }
        .fas.fa-heart:hover {
            opacity: 1;
        }
        i:hover {
            color: #9356DC;
        }
        // .far.fa-heart {
        //     background-image: linear-gradient(#FF79DA, #9356DC);
        //     color: #7E7E7E;
        // }
        // i:hover {
        //     opacity: 0;
        // }
        // i .fas.fa-heart:hover {
        //     opacity: 1;
        // }
        // i .fas.fa-heart {
        //     opacity: 1;
        //     background-color: white;
        //     mix-blend-mode: lighten;
        // }
    }
    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}

.carte {
    font-size: 30px;
    padding: 10px;
    margin: 20px;
    margin-top: 0;
    h3 {
        border-bottom: 4px solid $colour-tertiaire;
        width: 10%;
        margin-bottom: 50px;
    }
    article {
        background-color: white;
        border-radius: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 25px;
        padding: 3%;
        align-items: center;
        animation: apparationmenu 1s;
        box-shadow: 0 0 20px #0000002e;
        h4 {
            width: 70%;
            margin: 0px;
            font-size: 40px;
        }
        p {
            margin: 0px;
            width: 70%;
            font-size: 35px;
        }
    }
    @keyframes apparationmenu {
        from {
            transform: translateY(50px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .price {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 50px;
        width: 30%;
    }
    article:hover {
        background: linear-gradient(to right, white 80%, $colour-background-nouveau 20%);
        .price {
            justify-content: flex-start;
        }
        .fas.fa-check-circle {
            transform: scale(2);
            color: white;
            animation: circlerotate 0.8s;
        }
    }
    .fas.fa-check-circle {
        transform: scale(0);
        position: absolute;
        right: 115px;
    }
    @keyframes circlerotate {
        0% {
            transform: translateX(100px) rotate(240deg);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
            transform: scale(2);
        }
    }
    button {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        margin-top: 100px;
        border-radius: 60px;
        border: 0.125rem;
        padding: 30px;
        width: 60%;
        font-size: 45px;
        color: white;
        background: linear-gradient(-10deg, $colour-primaire, $colour-secondaire);
        box-shadow: 0 0 20px #0000002e;
        transition: 0.3s;
    }
    button:hover {
        box-shadow: 20px 20px 40px #0000002e;
        filter: brightness(1.1);
        cursor: pointer;
    }
}

// footer
footer {
    background-color: $colour-footer;
    color: white;
    font-size: 30px;
    padding: 30px;
    img {
        height: 30px;
        object-fit: cover;
        margin-top: 40px;
        margin-left: 40px;
        filter: invert(100%);
    }
    ul {
        list-style-type: none;
        margin-bottom: 0px;
        padding: 0px;
        margin-left: 40px;
        i {
            margin-right: 12px;
        }
    }
    li {
        margin-top: 15px;
    }
    a {
        color: white;
        text-decoration: none;
    }
}

@media only screen and ( min-width: 1200px) {
    body {
        width: 1600px;
        margin: auto;
        .search {
            font-size: 22px;
            .ville {
                font-size: 22px;
            }
        }
        .accueil {
            font-size: 22px;
            button {
                font-size: 22px;
                width: auto;
            }
        }
        .fonctionnement {
            h2 {
                font-size: 26px;
            }
            ol li {
                font-size: 22px;
            }
            li i {
                font-size: 22px;
            }
            .fas.fa-mobile-alt {
                right: 60px;
            }
        }
    }
    .restaurant_accueil {
        h2 {
            font-size: 26px;
        }
        h3 {
            font-size: 26px;
        }
        p {
            font-size: 22px;
        }
        .badge {
            display: none;
        }
    }
    .carte .fas.fa-check-circle {
        -webkit-transform: scale(0);
        transform: scale(0);
        position: absolute;
        right: 315px;
    }
    .restaurant .header_restaurant h2 {
        margin-left: 200px;
        font-size: 28px;
    }
    .carte {
        h3 {
            font-size: 26px;
        }
        article h4 {
            font-size: 24px;
        }
        article p {
            font-size: 22px;
        }
        .price {
            font-size: 30px;
            width: 22%;
        }
        button {
            font-size: 22px;
            width: 20%;
        }
    }
}

footer {
    font-size: 22px;
}