body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  -webkit-animation: body 3s;
          animation: body 3s;
}

@-webkit-keyframes body {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.2;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes body {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.2;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.loader_food {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
}

.loader_food div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  -webkit-animation: loader_food 1.2s cubic-bezier(0, 0.5, 0.5, 1) 3;
          animation: loader_food 1.2s cubic-bezier(0, 0.5, 0.5, 1) 3;
}

.loader_food div:nth-child(1) {
  left: 8px;
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
  background-color: #9356DC;
}

.loader_food div:nth-child(2) {
  left: 32px;
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
  background-color: #FF79DA;
}

.loader_food div:nth-child(3) {
  left: 56px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  background-color: #99E2D0;
}

@-webkit-keyframes loader_food {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

@keyframes loader_food {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header i {
  font-size: 50px;
  position: absolute;
  --size: -26px;
  left: calc(-1 * var(--size) - -20px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 25px;
  color: #353535;
}

header img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.accueil {
  margin-top: 20px;
  padding-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 43px;
  background-color: #f6f6f6;
}

.accueil .badge {
  padding: 15px;
}

.accueil .search {
  background-color: #eaeaea;
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  color: #3a3a3a;
  -webkit-box-shadow: inset 0px 23px 36px -28px #3a3a3a;
  box-shadow: inset 0px 23px 36px -28px #3a3a3a;
}

.accueil .search i,
.accueil .search .ville {
  margin: 20px;
  font-weight: bold;
}

.accueil h1,
.accueil .pub {
  text-align: center;
  width: 76%;
}

.accueil button {
  border-radius: 60px;
  border: 0.125rem;
  padding: 30px;
  margin-top: 20px;
  width: 60%;
  font-size: 45px;
  color: white;
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  -webkit-box-shadow: 0 0 20px #0000002e;
          box-shadow: 0 0 20px #0000002e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.accueil button:hover {
  -webkit-box-shadow: 20px 20px 40px #0000002e;
          box-shadow: 20px 20px 40px #0000002e;
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  cursor: pointer;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 20px;
}

.fonctionnement .fas.fa-mobile-alt {
  right: 50px;
}

.fonctionnement h2 {
  margin: 20px;
  font-size: 67.5px;
}

.fonctionnement .color:hover {
  background-color: #f2eafb;
}

.fonctionnement .color:hover i {
  color: #9356DC;
}

.fonctionnement li {
  font-size: 40px;
  padding: 40px;
  text-align: center;
  -webkit-box-shadow: 0 0 20px #0000002e;
          box-shadow: 0 0 20px #0000002e;
  border-radius: 30px;
}

.fonctionnement li i {
  color: grey;
  position: relative;
  right: 70px;
  font-size: 60px;
}

.fonctionnement ol {
  list-style: none;
  margin: 10px;
  padding: 0px;
}

.fonctionnement ol li {
  margin: 50px;
  counter-increment: ohmyfood-counter;
  position: relative;
  background-color: #f6f6f6;
}

.fonctionnement ol li::before {
  content: counter(ohmyfood-counter);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  --size: 70px;
  left: calc(-1 * var(--size) - -20px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  background: #9356DC;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 0 #999;
          box-shadow: 1px 1px 0 #999;
  margin-left: 1px;
}

.restaurant_accueil {
  background-color: #eaeaea;
  font-size: 45px;
  padding: 20px;
}

.restaurant_accueil article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  margin-bottom: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 4px 4px 4px lightgrey;
          box-shadow: 4px 4px 4px lightgrey;
}

.restaurant_accueil img {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant_accueil .badge {
  background-color: #99e2d0;
  color: #269e80;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  width: 20%;
  position: absolute;
  right: 60px;
  margin-top: 30px;
}

.restaurant_accueil .vignet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 25px;
}

.restaurant_accueil .desc_article {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

.restaurant_accueil .desc_article p,
.restaurant_accueil .desc_article h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.restaurant_accueil .icon_article {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #9356DC;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  margin-top: 3px;
}

.restaurant_accueil .icon_article i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 32px;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  color: #7E7E7E;
  background-color: white;
}

.restaurant_accueil .icon_article:hover i {
  opacity: 0;
}

.restaurant_accueil .icon_article:hover .fas.fa-heart {
  opacity: 1;
}

.restaurant_accueil .icon_article .fas.fa-heart {
  opacity: 1;
  background-color: white;
  mix-blend-mode: lighten;
}

.header_restaurant h2 {
  font-family: 'Shrikhand', 'Roboto', sans-serif;
}

.restaurant {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant .header_restaurant {
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  background-color: #f6f6f6;
  position: relative;
  bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
}

.restaurant .header_restaurant h2 {
  margin-left: 40px;
}

.restaurant .header_restaurant i {
  font-size: 32px;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-top: 3px;
  position: absolute;
  right: 150px;
}

.restaurant .header_restaurant .fas.fa-heart {
  opacity: 0;
}

.restaurant .header_restaurant .fas.fa-heart:hover {
  opacity: 1;
}

.restaurant .header_restaurant i:hover {
  color: #9356DC;
}

.restaurant img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carte {
  font-size: 30px;
  padding: 10px;
  margin: 20px;
  margin-top: 0;
}

.carte h3 {
  border-bottom: 4px solid #99E2D0;
  width: 10%;
  margin-bottom: 50px;
}

.carte article {
  background-color: white;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  padding: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: apparationmenu 1s;
          animation: apparationmenu 1s;
  -webkit-box-shadow: 0 0 20px #0000002e;
          box-shadow: 0 0 20px #0000002e;
}

.carte article h4 {
  width: 70%;
  margin: 0px;
  font-size: 40px;
}

.carte article p {
  margin: 0px;
  width: 70%;
  font-size: 35px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@-webkit-keyframes apparationmenu {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes apparationmenu {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.carte .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 50px;
  width: 30%;
}

.carte article:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(80%, white), color-stop(20%, #99e2d0));
  background: linear-gradient(to right, white 80%, #99e2d0 20%);
}

.carte article:hover .price {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.carte article:hover .fas.fa-check-circle {
  -webkit-transform: scale(2);
          transform: scale(2);
  color: white;
  -webkit-animation: circlerotate 0.8s;
          animation: circlerotate 0.8s;
}

.carte .fas.fa-check-circle {
  -webkit-transform: scale(0);
          transform: scale(0);
  position: absolute;
  right: 115px;
}

@-webkit-keyframes circlerotate {
  0% {
    -webkit-transform: translateX(100px) rotate(240deg);
            transform: translateX(100px) rotate(240deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes circlerotate {
  0% {
    -webkit-transform: translateX(100px) rotate(240deg);
            transform: translateX(100px) rotate(240deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

.carte button {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  border-radius: 60px;
  border: 0.125rem;
  padding: 30px;
  width: 60%;
  font-size: 45px;
  color: white;
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  -webkit-box-shadow: 0 0 20px #0000002e;
          box-shadow: 0 0 20px #0000002e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.carte button:hover {
  -webkit-box-shadow: 20px 20px 40px #0000002e;
          box-shadow: 20px 20px 40px #0000002e;
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  cursor: pointer;
}

footer {
  background-color: #353535;
  color: white;
  font-size: 30px;
  padding: 30px;
}

footer img {
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 40px;
  margin-left: 40px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

footer ul {
  list-style-type: none;
  margin-bottom: 0px;
  padding: 0px;
  margin-left: 40px;
}

footer ul i {
  margin-right: 12px;
}

footer li {
  margin-top: 15px;
}

footer a {
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 1200px) {
  body {
    margin: auto;
  }
  body .search {
    font-size: 22px;
  }
  body .search .ville {
    font-size: 22px;
  }
  body .accueil {
    font-size: 22px;
  }
  body .accueil button {
    font-size: 22px;
    width: auto;
    padding: 15px;
  }
  body .fonctionnement h2 {
    font-size: 26px;
  }
  body .fonctionnement ol li {
    font-size: 22px;
    margin: 30px;
    padding: 25px;
  }
  body .fonctionnement ol li::before {
    --size: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .fonctionnement li i {
    font-size: 22px;
  }
  body .fonctionnement .fas.fa-mobile-alt {
    right: 60px;
  }
  .restaurant_accueil h2 {
    font-size: 28px;
  }
  .restaurant_accueil h3 {
    font-size: 26px;
  }
  .restaurant_accueil p {
    font-size: 22px;
  }
  .restaurant_accueil .badge {
    display: none;
  }
  .restaurant_accueil img {
    width: 600px;
  }
  .carte .fas.fa-check-circle {
    -webkit-transform: scale(0);
    transform: scale(0);
    position: absolute;
    right: 315px;
  }
  .restaurant .header_restaurant h2 {
    margin-left: 200px;
    font-size: 28px;
  }
  .carte h3 {
    font-size: 26px;
  }
  .carte article h4 {
    font-size: 24px;
  }
  .carte article p {
    font-size: 22px;
  }
  .carte .price {
    font-size: 30px;
    width: 22%;
  }
  .carte button {
    font-size: 22px;
    width: 20%;
    padding: 15px;
  }
}

footer {
  font-size: 22px;
}
/*# sourceMappingURL=main.css.map */