@import "sass/Utils/variables";
@import "sass/Utils/mixins";
// général
body {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

// header
header {
    display: flex;
    justify-content: center;
    img {
        margin-top: 20px;
    }
}

// index
.accueil {
    margin-top: 20px;
    padding-bottom: 140px;
    @include flex_column;
    align-items: center;
    font-size: 45px;
    background-color: $colour-gris_clair;
    .search {
        background-color: $colour-gris_sombre;
        font-size: 35px;
        display: flex;
        justify-content: center;
        width: 100%;
        i,
        .ville {
            margin: 20px;
            font-weight: bold;
        }
    }
    h1,
    .pub {
        text-align: center;
        width: 76%;
        margin: 25px;
    }
    button {
        border-radius: 60px;
        border: 0.125rem;
        padding: 30px;
        margin-top: 20px;
        width: 60%;
        font-size: 45px;
        color: white;
        background: linear-gradient(-10deg, $colour-primaire, $colour-secondaire);
    }
}

.fonctionnement {
    @include flex_column;
    h2 {
        margin: 20px;
        font-size: 67.5px;
    }
    li {
        font-size: 35px;
        padding: 40px;
        text-align: center;
        box-shadow: 0 0 20px #0000002e;
        border-radius: 30px;
    }
    ol {
        list-style: none;
        margin-right: 20px;
    }
    ol li {
        margin: 0 0 0.5rem 0;
        counter-increment: my-awesome-counter;
        position: relative;
    }
    ol li::before {
        content: counter(my-awesome-counter);
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        position: absolute;
        --size: 42px;
        left: calc(-1 * var(--size) - -20px);
        line-height: var(--size);
        width: var(--size);
        height: var(--size);
        background: $colour-primaire;
        border-radius: 50%;
        box-shadow: 1px 1px 0 #999;
    }
}

.restaurant_accueil {
    background-color: $colour-gris_sombre;
    font-size: 45px;
    padding: 20px;
    article {
        @include flex_column;
        background-color: white;
        margin: 20px;
        border-radius: 50px;
    }
    img {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    .badge {
        background-color: rgb(153, 226, 208);
        color: rgb(38, 158, 128);
        font-weight: bold;
        padding: 10px;
        border-radius: 5px;
        width: 20%;
        position: absolute;
        right: 60px;
    }
    .vignet {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .desc_article {
        flex-direction: column;
        width: 60%;
        p,
        h3 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

// menu_restaurant
.restaurant {
    background-color: $colour-gris_clair;
    .header_restaurant {
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
        background-color: $colour-gris_clair;
        position: relative;
        bottom: 75px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 50px;
    }
    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    @include flex_column;
}

.carte {
    font-size: 30px;
    padding: 10px;
    margin: 20px;
    article {
        background-color: white;
        border-radius: 50px;
    }
    .price {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 50px;
    }
    button {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        margin-top: 100px;
        border-radius: 60px;
        border: 0.125rem;
        padding: 30px;
        width: 60%;
        font-size: 45px;
        color: white;
        background: linear-gradient(-10deg, $colour-primaire, $colour-secondaire);
    }
}

// footer
footer {
    background-color: $colour-footer;
    color: white;
    font-size: 20px;
    img {
        height: 20px;
        object-fit: cover;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        filter: invert(100%);
    }
    ul {
        list-style-type: none;
        margin-bottom: 0px;
    }
    li {
        margin: 5px;
    }
    a {
        color: white;
        text-decoration: none;
    }
}