$colour-primaire:#9356DC;
$colour-secondaire:#FF79DA;
$colour-tertiaire:#99E2D0;
$colour-gris_clair:rgb(246, 246, 246);
$colour-gris_sombre:rgb(234, 234, 234);
$colour-footer:rgb(53, 53, 53);
$colour-nouveau:rgb(38, 158, 128);
$colour-background-nouveau:rgb(153, 226, 208);